<% provide(:title, "Esqueci a Senha") %>
<h1>Forgot password</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
        <div class="form-group">  
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
            <%= f.submit "Recuperar", class: "btn btn-primary" %>
        </div>
    <% end %>
  </div>
</div>