<%= render 'shared/error_messages' %>

<div class="panel panel-default">
  
  <div class="panel-heading">
    <h3 class="panel-title"><%= texto_da_acao %> Usuário</h3>
  </div>
  
  <div class="panel-body">
    
    <div id="tabs-container">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab-1">Dados Gerais</a></li>
                <li><a href="#tab-2">Perfil de Acesso</a></li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                    <%= form_for(@user) do |f| %>
                      
                    
                      <div class="form-group">
                        <%= f.label :name %>
                        <%= f.text_field :name, class: "form-control" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :email %>
                        <%= f.text_field :email, class: "form-control" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :password %>
                        <%= f.password_field :password, class: "form-control" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :password_confirmation %>
                        <%= f.password_field :password_confirmation, class: "form-control" %>
                      </div>
                      <div >
                        <%= f.submit texto_da_acao, class:"btn btn-primary" %>
                        <%= link_to 'Back', users_path, class:"btn btn-warning" %>
                      </div>
                    <% end %>
                </div>
                <div id="tab-2" class="tab-pane">
                    <p> A ser implementado... </p>
                    <div class="gravatar_edit">
                      <%= gravatar_for @user %>
                      <a href="http://gravatar.com/emails" target="_blank">change</a>
                    </div>
                </div>
               
            </div>
        </div>
    
  </div>
</div>

<script>
  $(document).ready(function() {
      $(".nav a").click(function(event) {
          event.preventDefault();
          $(this).parent().addClass("active");
          $(this).parent().siblings().removeClass("active");
          var tab = $(this).attr("href");
          $(".tab-pane").not(tab).css("display", "none");
          $(tab).fadeIn();
      });
  });
</script>