<tr>
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td>
    <%= link_to 'Visualizar', user, class:"btn btn-info active" %>
    <%= link_to 'Editar', edit_user_path(user), class:"btn btn-success active"  %>
    <%= link_to 'Apagar', user, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger active"  %>
  </td>
</tr>