

<div class="panel panel-default">
  <div class="panel-body">
     <%= link_to 'Novo', new_user_path, class:"btn btn-primary active" %>
  
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Lista de Usuários</h3>
  </div>
  <div class="panel-body">
     <%= will_paginate %>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>
      <tbody>
          <% @users.each do |user| %>
            <%= render user %>
          <% end %>
      </tbody>
    </table>
     <%= will_paginate %>
  </div>
</div>
