<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <div class="container-fluid ">
        <div class="row content">
          <div class="col-sm-3 sidenav">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Menu Usuário</h3>
              </div>
              <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                  <li class="active"><a href="#section1">Usuários</a></li>
                  <li><a href="#section2">Perfis</a></li>
                  <li><a href="#section3">Alterar Senha</a></li>
                </ul><br>
              </div>
            </div>
          </div>
          <div class="col-sm-9 text-left">
            <% flash.each do |message_type, message| %>
              <div class="alert alert-<%= message_type %>"><%= message %></div>
            <% end %>
            <%= yield %>
          </div>
          </div>
            <%= render 'layouts/footer' %>
            <%= debug(params) if Rails.env.development? %>
        
      </div>
    </div>
  </body>
</html>